.stack {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card {
    display: flex;
    gap: 1rem;

    .provider {
        color: #fff;
    }

    .id {
        color: #b2b2b2;
        font-size: .75rem;
    }

    @media(max-width: 768px) {
        img {
            width: 64px;
        }
    }
}