.about {
  .img {
    width: 200px;
    border-radius: 0.5rem;
    justify-self: center;
    align-items: center;
  }

  .description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
  }

  .infos {
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    margin-bottom: var(--mb-2-5);

    .info {
      padding: 1rem;
      border-radius: 1rem;
      background-color: #21546e;
      text-align: center;
      .count {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      i {
        font-size: 1.5rem;
        color: var(--first-color);
      }
    }
  }

  .infoTitle {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }

  .infoName {
    font-size: var(--smaller-font-size);
  }

  .infoTitle,
  .infoName {
    display: block;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  .btn {
    gap: 0.5rem;
    i {
      font-size: 1.25rem;
    }
  }

  @media screen and (max-width: 350px) {
    .container {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }

    .nav__menu {
      padding: 2rem 0.25rem 4rem;
    }

    .nav__list {
      column-gap: 0;
    }

    .skills__title {
      font-size: var(--normal-font-size);
    }

    .qualification__data {
      gap: 0.5rem;
    }

    .services__container {
      grid-template-columns: max-content;
      justify-content: center;
    }

    .services__content {
      padding-right: 3.5rem;
    }

    .services__modal {
      padding: 0rem 0.5rem;
    }

    .project__img {
      width: 200px;
    }

    .testimonial__data,
    .testimonial__header {
      flex-direction: column;
      align-items: center;
    }

    .testimonial__img {
      margin-right: 0;
      margin-bottom: var(--mb-0-25);
    }

    .testimonial__data,
    .testimonial__description {
      text-align: center;
    }

    .infos {
      flex-direction: column;
      .info {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  @media screen and (min-width: 568px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 768px) {
    .container {
      column-gap: 5rem;
    }

    .img {
      width: 350px;
    }

    .description {
      text-align: initial;
    }

    .infos {
      justify-content: space-between;
    }

    .buttons {
      justify-content: initial;
    }
  }

  @media screen and (min-width: 1024px) {
  }
}
