.contact {
  .container {
    row-gap: 3rem;
    .information {
      display: flex;
      margin-bottom: var(--mb-2);
    }

    .icon {
      font-size: 2rem;
      color: var(--first-color);
      margin-right: var(--mb-0-75);
    }

    .title {
      font-size: var(--h3-font-size);
      font-weight: var(--font-medium);
    }

    .subtitle {
      font-size: var(--small-font-size);
      color: var(--text-color-light);
    }

    .content {
      background-color: var(--input-color);
      border-radius: 0.5rem;
      padding: 0.75rem 1rem 0.25rem;
      &.error {
        border: 1px solid red;
      }
    }

    .input {
      width: 100%;
      background-color: var(--input-color);
      color: var(--text-color);
      font-family: var(--body-font);
      font-size: var(--normal-font-size);
      border: none;
      outline: none;
      resize: none;
      padding: 0.25rem 0.5rem 0.5rem 0;
    }

    .label {
      font-size: var(--smaller-font-size);
      color: var(--title-color);
    }
  }

  @media screen and (min-width: 568px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1024px) {
    .form {
      width: 460px;
    }

    .inputs {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
