.project {
  text-align: center;
  .bg {
    background-color: var(--first-color-second);
    padding-top: 3rem;
  }

  .title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
  }

  .description {
    margin-bottom: var(--mb-1-5);
  }

  .title,
  .description {
    color: #fff;
  }

  .img {
    width: 232px;
    justify-self: center;
  }

  @media screen and (max-width: 350px) {
    .img {
      width: 200px;
    }
  }

  @media screen and (min-width: 568px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 768px) {
    text-align: initial;

    .bg {
      background: none;
    }

    .container {
      background-color: var(--first-color-second);
      border-radius: 1rem;
      padding: 3rem 2.5rem;
      grid-template-columns: 1fr max-content;
      column-gap: 3rem;
    }

    .data {
      padding-top: 0.8rem;
    }
  }

  @media screen and (min-width: 1024px) {
  }
}
